<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>用户登录</title>
<!-- 公共样式，主要是网页顶部和尾部 -->
<link rel="stylesheet" th:href="@{/css/base.css}" />
<!-- 登录界面美化样式 -->
<link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
	<script th:if="${formAlert }">
		alert("注册成功！");
	</script>

	<!-- 登录页面头部开始 -->
	<div class="nav clearfix">
		<a th:href="@{/index.html}" title="快递联盟" class="logo">快递联盟</a>
		<!-- 导航栏公共部分引入 -->
		<div th:replace="~{common/nav::nav}"></div>
	</div>	
	<!-- 登录页面头部结束 -->	
	
	<!-- 中间内容部分开始 -->
	<div class="inner_login">
		<div class="inner_box">
			<span>账号登录</span>
			<form class="inner_form"  th:action="@{/userLogin}" method="post">
				<span></span><input type="text" placeholder="请输入账号" class="input_1" 
				maxlength="40" th:value="${user != null?user.username:'' }" name="username"><br />
				<span></span><input type="password" placeholder="请输入密码" class="input_2" 
				id="input_2" maxlength="40" name="password"><span class="span_3" id="span_3" ></span><br />
				<p th:text="${msg != null?msg:''}"></p><a th:href="@{/regist.html}">账号注册？</a><br />
				<button>登录</button>
			</form>
		</div>
	</div>
		<!-- 点击小眼睛查看密码 -->
		<script src="js/yanjing.js"></script>
		<!-- 给input添加键盘抬起事件，动态获取input的参数值  -->
		<script src="js/inputkeyup.js"> </script>	
		
	<!-- 中间内容部分结束 -->
	
		
	<!-- 尾部版权部分开始 -->
	<div class="copyright">
		<div class="copyright_top">
			湖南信息学院 Copyright &copy;2019-2020.All Rights Reserved.
		</div>
		<div class="copyright_bottom">16物联网本一班毕业设计</div>
	</div>
	<!-- 尾部版权部分结束 -->
</body>
</html>